@{
    ViewBag.Title = "NatalCard";
}

<div id="apresentacao" class="jumbotron">
    <img />
    <h1>Apresentação NatalCard</h1><br />
    <p class="lead">Apresentação de aplicação simples para o teste de vaga de programador na empresa NatalCard.</p><br />
    <p class="lead">Utilize a barra de navegação acima para acessar as sessões do sistema.</p>
</div>